<section id="team">
        <div class="container">
            <div id="row">
                <div class="col-md-6">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="section-title">
                            <h2>Зустрічайте нашого шеф-кухаря</h2>
                        </div>
                        {% for item in team %}
                        <p>{{ item.description }}</p>
                            
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="team-img"><img src="../static/img/chef.jpg" alt="..."></div>
                </div>
            </div>
        </div>
</section>