<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2 align="center">Наші події</h2>
{% for item in events %}
<section id="events">

        <div class="container">
            <div id="row">
                <div class="col-md-6">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="section-title">



                            <h3>{{ item.title }}</h3>

                        </div>
                        <p>{{ item.description }}</p>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="team-img"><img height="200" src="{{ item.photo.url }}" alt="..."></div>

                </div>

            </div>
        </div>
    {% endfor %}

</section>
</body>
</html>